<% if @event.photo? %>
  <div class="banner-event" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%), url('<%= cl_image_path @event.photo %>')">
<% else %>
  <div class="banner-event" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%), url('https://images.unsplash.com/photo-1478812954026-9c750f0e89fc?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=')">
<% end %>
    <div class="banner-event-text">
      <h1><%= @event.name %></h1>
      <%= link_to "Attend this event", event_book_path(@event), class: "navbar-wagon-item navbar-wagon-button btn" %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3'>

      </div>
    </div>
  </div>
</div>



<div class="container" style="padding: 50px 0;">
  <div class="row">
    <div class="col-md-3">
      <div>
        <h4>People attending this event</h4>
        <ul class="list-unstyled">
          <% @event.attenders.each do |user| %>
          <li><%= user.first_name %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <br>
      <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= @event.event_time %> </p>
      <hr>
      <p><i class="fa fa-map-marker lg" aria-hidden="true"></i> <%= @event.location %> <span style="float:right"><%= @event.city %> </span> </p>
      <hr>
      <p><i class="fa fa-list" aria-hidden="true"></i> <%= @event.category %> </p>
      <hr>
      <p><i class="fa fa-user" aria-hidden="true"></i> <%= @event.user.first_name %> </p>
      <hr>
      <p><span class="event-category">Description:</span> <%= @event.description %>
      <p><br></p>
      <%= link_to "Attend this event", event_book_path(@event), class: "navbar-wagon-item navbar-wagon-button btn attend-button" %>

      <p></br></p>

      <div class="col-md-3">
      </div>

    </div>
  </div>
  <%= link_to "Go back", events_path %>
</div>




<!-- <div class="container" style="padding: 50px 0;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><span class="event-category">Time:</span> <%= @event.event_time %> </p>
      <hr>
      <p><span class="event-category">Location:</span> <%= @event.location %> </p>
      <hr>
      <p><span class="event-category">Category:</span> <%= @event.category %> </p>
      <hr>
      <p><span class="event-category">Host:</span> <%= @event.user.first_name %> </p>
      <p><span class="event-category">Description:</span> <%#= @event.description %></p>
      <%#= link_to "Attend this event", event_book_path(@event), class: "navbar-wagon-item navbar-wagon-button btn" %>
      <div>
          <p></br></p>
      </div>
      <%#= link_to "Go back", events_path %>
    </div>
  </div>
</div> -->



<%# content_for(:after_js) do %>
  <%#= javascript_tag do %>
<!--     $(document).ready(function() {
      var coord = <%#= raw @flat_coordinates.to_json %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    }); -->
  <%# end %>
<%# end %>

