<h2>Event name: <%= @event.name %></h2>
<h2>Time: <%= @event.event_time %> </h2>
<h2>Description: <%= @event.description %> </h2>
<h2>Category: <%= @event.category %> </h2>
<h2>Location: <%= @event.location %> </h2>
<h2>Host: <%= @event.user.first_name %> </h2>

<%= link_to "Book this event", event_book_path(@event), class: "btn" %>
